<table mat-table [dataSource]="pendingRequests" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    <!-- owner Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'User name' |translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.sender.fullName}} </td>
    </ng-container>

    <!-- title Column -->
    <ng-container matColumnDef="invitationDate">
        <th mat-header-cell *matHeaderCellDef> {{'Invitation date' |translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date: "dd/MM/yyyy"}} </td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{'Actions' |translate}} </th>
        <td mat-cell *matCellDef="let element">
            <button *ngIf="event.privacyType == 1" nbButton ghost status="primary"
                (click)="accept(element.sender.userId)">
                <nb-icon icon="checkmark-outline"></nb-icon>
            </button>
            <button nbButton ghost status="danger" (click)="reject(element.sender.userId)">
                <nb-icon icon="close-outline"></nb-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="pendingRequestsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: pendingRequestsColumns;"></tr>
</table>
<mat-paginator [dir]='dir' [length]="pendingRequestsRecords" [pageIndex]="pendingRequestsSearchModel.PageNumber-1"
    [pageSize]="pendingRequestsSearchModel.PageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="pendingRequestsSearch($event)" showFirstLastButtons></mat-paginator>