<div class="chatsContainer">
    <div  *ngIf="rooms.length>0" class="listChats">
         <div class="chatHeader">
             <h3>
                {{'My chats' |translate}}
             </h3>
             <div class="actionsArea">
                <div class="singleAction">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                 </div>
                 <div class="singleAction">
                    <i class="fa fa-search" aria-hidden="true"></i>
                 </div>
             </div>
         </div>
         <div class="listLastMassages">
             <div *ngFor="let room of rooms;let i=index" class="lastMessage" (click)="getroomMessages(i)">
                 <img src="./assets/images/team.png" alt="">
                 <div class="textualMessage">
                     <h4>
                         Mohammed Ahmed {{i}}
                     </h4>
                     <p>
                         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea fugiat id reiciendis non sapiente ipsam autem voluptates nemo tenetur amet necessitatibus quidem beatae, iste voluptate ex, quisquam perspiciatis aut optio?
                     </p>
                 </div>
                 <div class="lastMessageControls">
                    <div class="moreAction">
                        <i class="fa fa-ellipsis-h" (click)="showAction($event,'r',i)" aria-hidden="true"></i>
                        <div *ngIf="showMessageEvent=='r'+i" class="allEvents">
                          <div class="singleEvent" (click)="makeAction('r',i,'delete')">
                              {{'Delete' |translate}}
                          </div>
                          <div class="singleEvent" (click)="makeAction('r',i,'ban')">
                             {{'Ban' |translate}}
                         </div>
                        </div>
                    </div>
                    <p class="time">
                        1h
                    </p>
                 </div>
             </div>
          
         </div>
    </div>
    <ng-container *ngIf="currentRoom !=null">
            <div class="previewSingleChat">
                <div class="chatHeader">
                    <div class="imgArea">
                        <img src="./assets/images/team.png" alt="">
                    </div>
                    <h3>
                        Mohammed Ahmed {{currentRoom}}
                    </h3>
                </div>
                <div class="listMessages">
                    <div *ngFor="let message of messages;let m=index" class="singleMessage userMessage">
                        <img src="./assets/images/team.png" alt="">
                        <div class="messageArea">
                            <div class="messageControler">
                                <div class="moreAction">
                                    <i class="fa fa-ellipsis-h" (click)="showAction($event,'m',m)" aria-hidden="true"></i>
                                <div *ngIf="showMessageEvent=='m'+m" class="allEvents">
                                    <div class="singleEvent" (click)="makeAction('m',m,'delete')">
                                        {{'Delete' |translate}}
                                    </div>
                                    <div class="singleEvent"  (click)="makeAction('m',m,'reply')">
                                        {{'Reply' |translate}}
                                    </div>
                                </div>
                                    
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, corporis recusandae id quae obcaecati earum saepe modi similique architecto distinctio expedita ipsa sint necessitatibus blanditiis hic aperiam quibusdam soluta laudantium!
                                </p>
                                <p class="time">
                                    7:00 {{'pm' |translate}}
                                </p>
                            </div>
                        </div>
                       
                    </div>
                    <div class="singleMessage">
                        <div class="messageControler">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam similique cupiditate possimus dolore.
                            </p>
                            <p class="time">
                                7:10 {{'pm' |translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="replyArea">
                    <div *ngIf="showAttachArea" class="attachmentsArea">
                       <div class="singleIcon">
                        <i class="fa fa-microphone" aria-hidden="true"></i>
                       </div>
                       <div class="singleIcon">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                       </div>
                       <div class="singleIcon">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                       </div>
                    </div>
                    <div class="attach" (click)="showAttachArea?showAttachArea=false:showAttachArea=true">
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                    </div>
                    <div class="textArea">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Write something" rows="3" [(ngModel)]="message"></textarea>
                        </div>
                    </div>
                    <div class="sendIcon" (click)="sendMessage()">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
                </div>
                </div>
                <div class="previewChatData">
                    <div class="previewHeader">
                        <img src="./assets/images/team.png" alt="">
                        <h3>
                            Mohamed Ahmed {{currentRoom}}
                        </h3>
                        <p>
                            Supervisor
                        </p>
                    </div>
                    <div class="previewActions">
                        <div class="singleAction">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            <p>
                                {{'Delete conversation' |translate}}
                            </p>
                        </div>
                        <div class="singleAction">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            <p>
                                {{'Ban' |translate}}
                            </p>
                        </div>
                    </div>
                

                </div>
    </ng-container>
    <div *ngIf="currentRoom ==null && rooms.length>0" class="noRoomChoosen">
         <p>
             {{'Choose Room To Start Chat' |translate}} 
         </p>
    </div>
    <div *ngIf="rooms.length==0" class="noRoomChoosen fullWidth">
        <p>
            {{'There Are No Chats Yet' |translate}}
        </p>
   </div>
    
</div>